@import '../../../node_modules/primeflex/primeflex.min.css';
@import '../../../node_modules/primereact/resources/primereact.min.css';
@import '../../../node_modules/primereact/resources/themes/saga-blue/theme.css';
:host {
  display: block;
}
body{
  background: #101010 !important;
}
.grid{
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
}

.grid-item{
  width: 20%;
  margin: 50px;
}
.p-card{
  background-color: #e8e8e8;
  margin-bottom: 16px;
  transition: all .1s ease-in-out;
}
.p-card:hover{
  transform: scale(1.5);
  position: absolute;
  width: 20%;
  border: 2px solid black;
  box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}
.p-card.blue{
  background-color: #dbdbfd;
}
.p-card.green{
  background-color: #c9ffc9;
}
.p-card-title{
  font-size: 16px !important;
  padding: 10px 10px 12px 10px;
  /* padding: 10px; */
  background: #1b1b1b;
  color: white;
  font-weight: 200 !important;
  margin-bottom: 0 !important;
}
.p-card-content{
  font-size: 14px !important;
  padding: 20px !important;
}
.p-card-title.font-size-40{
  font-size: 40px !important;
}
.p-card .p-card-body {
  padding: 0;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .p-card:hover{
    transform: none;
    position: relative;
    width: initial;
    border: 0;
    
  }
}

.font-size-sm{
  font-size: 16px !important;
}
.font-size-md{
  font-size: 20px !important;
}
.font-size-lg{
  font-size: 24px !important;
}

.primary{
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.secondary{
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.success{
  color: #fff;
    background-color: #198754;
    border-color: #198754;
}
.danger{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.warning{
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}
.info{
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}
.light{
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.dark{
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}